.showImage{
    position: relative;

}

.image-container{
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.buttons-container p{
    padding: 10px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 5px;
}

.text-gif{
    position: relative;
    color: #ffffff;
    text-align: center;
    align-items: center;
    width: 100%;
    top: 8em;
}

.gif{
    width: 100%;
    position: relative;
}

.gif img{
    position: relative;
    width: 45vh;
    height: fit-content;
    padding: 15px;
    top: 8.5em;
    
}

.back-button{
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #f1c500;
    width: max-content;
    left: 2%;
    top: 10.5em;
    padding: 10px;
    z-index: 99;
}


.areaImagecontainer{
display: inline-flexbox;
justify-content: space-around;
flex-direction: column;
position: relative;
}

.buttons-container {
    padding: 20px;
    width: 100%;
    position: relative;
    top: 6em;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.title-area p{
  text-align:center;
  font-style: normal;
  letter-spacing: normal;

}


.buttons-container img{
    top: 0;
    width: 15em;
    position: sticky;
    border: #f1c500 solid 5px;
    border-radius: 3%;
    height: 10em;
}

.directions h4{
    font-size: 18px;
    position: fixed;
    top: 10em;
}

.suggest h1{
    position: fixed;
    bottom: 10vh;
    z-index: 9999;

}

.follow-directions{
    position: relative;
}

.modal-close{
    background-color:#f1c500;
    border: none;
    :focus{
        outline: none;
        }
}

.direction-title{
  padding: 5px;
}

  .direction-container {
    justify-content: space-around;
    align-items:flex-start;
    width: 100%;
    height: 32em;
    text-align: center;
    position: relative;
    display: block;
    padding: 25px;
    top: 5.9em;
    color: white;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  .showImage-button {
    position: relative;
    display:inline;
    padding: 15px;
    margin-bottom: 5px;
    background-color: #ffaa00;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 20em;
  }

  .pop-up{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .direction-modal {
    display: flex;
    background: #ba2828;
    width: 18.5em;
    align-items: center;
    justify-content: center;
    height: 10em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 40%;
    position: fixed;
    border:#f1c500 solid 2px;
    overflow: hidden;
  }

  .modal-content {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1rem;
  }

  .modal-close {
    margin: 10px;
    background-color: #ffa908;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .modal-close:hover {
    background-color:darkred;
  }