.showImage{
    position: relative;

}

.image-container{
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.text-gif{
    position: relative;
    color: #ffffff;
    text-align: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    top: 5.2em;
}

.gif{
    width: 100%;
    position: relative;
}

.gif img{
    position: relative;
    width: 45vh;
    height: fit-content;
    padding: 5px;
    top: 5em;    
}

.back-button{
    display: flex;
    position: fixed;
    left: 0;
    top: 1.3em;
    padding: 10px;
    z-index: 100;
    color: white;
    overflow: hidden;
}


.areaImagecontainer{
display: inline-flexbox;
justify-content: space-around;
flex-direction: column;
position: relative;
height: 100%;
}

.buttons-container {
    top: 5em;
    position: relative;
    overflow: auto;
    display: flexbox;
    flex-direction:column;
    color: white;
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-bottom: 50px;
}

/* Add these styles to your existing CSS file, e.g., 'building.css' */
.image-grid {
  width: 100%;
  display: grid;
  justify-content: center;
  position: relative;
  height: 100%;
  padding: 5px;
}

.image-grid img {
  max-width: 150px;
  max-height: 150px;
  cursor: pointer;
}


.image-text p {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  position: relative;
  color: #ffffff;
  max-width: 150px;
  height: 40px;
  padding: 1px;

}
/* Add the rest of your styles as they are */
/* Desktop styles - 3 columns */
@media screen and (min-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Mobile styles - 2 columns */
@media screen and (max-width: 767px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


.title-area p{
  text-align:center;
  font-style: normal;
  letter-spacing: normal;
  height: 5em;

}


.buttons-container img{
    top: 0;
    width: 15em;
    position: sticky;
    border: #ffbd00 solid 5px;
    border-radius: 3%;
    height: fit-content;
}

.directions h4{
    font-size: 18px;
    position: fixed;
    top: 10em;
}

.suggest h1{
    position: fixed;
    bottom: 10vh;
    z-index: 9999;

}

.follow-directions{
    position: relative;
}

.modal-close{
    background-color:#ffbd00;
    border: none;
    :focus{
        outline: none;
        }
}

.direction-title{
  padding: 5px;
}

  .direction-container {
    justify-content: space-around;
    align-items:flex-start;
    width: 100%;
    height: 36em;
    text-align: center;
    position: relative;
    display: block;
    top: 5em;
    color: white;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  .showImage-button {
    position: relative;
    display:inline;
    padding: 15px;
    margin-bottom: 5px;
    background-color: #ffbd00;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 20em;
  }

  .pop-up{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100%;
  }

  .direction-modal {
    display: flex;
    background: #9b000a;
    width: 18.5em;
    align-items: center;
    justify-content: center;
    height: 40%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 30%;
    position: fixed;
    border:#ffbd00 solid 2px;
    overflow: hidden;
    overflow: hidden;
    
  }

  .direct-image{
    width: 100%;
    height: 100%;
    padding: 10px;

  }

  .direct-image img{
    max-width:250px;
  }


  .modal-content {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding: 5px;
  }

  .modal-close {
    margin: 30px;
    background-color: #ffbd00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .modal-close:hover {
    background-color:730000;
  }

  .image-button-grid{
    display: grid;
    justify-content: center;
    padding: 5px;
    align-content: center;
    gap: 10px;
  }
  @media screen and (min-width: 768px) {
    .image-button-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Mobile styles - 1 column */
  @media screen and (max-width: 767px) {
    .image-button-grid {
      grid-template-columns: (2, 2fr);
    }
  }

  .map-img {

    width: 100%;
    padding: 5px;
    height: max-content;
  }

  .map-img img {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
  }

  .admin{
    position: absolute;
    z-index: 105;
    top: 73%;
    left: 50%;
    color: #ffbd00;
  }

  .canteenn {
    position: absolute;
    z-index: 105;
    top: 38%;
    right: 20%;
    color:#ffbd00;
  }

  .eco{
    position: absolute;
    z-index: 105;
    top: 22%;
    left: 49%;
    color: #ffbd00;
  }

  .p-educ {
    position: absolute;
    z-index: 105;
    top: 17%;
    left: 42%;
    color: #ffbd00;
  }

  .p-archi{
    position: absolute;
    z-index: 105;
    top: 25%;
    left: 23%;
    color: #ffbd00;

  } 

  .p-grandstand{
    position: absolute;
    z-index: 105;
    top: 29%;
    left: 49%;
    color: #ffbd00;
  }

  .p-gym{
    position: absolute;
    z-index: 105;
    top: 20%;
    right: 15%;
    color: #ffbd00;

  }

  .p-hm {
    position: absolute;
    z-index: 105;
    top: 28%;
    right: 22%;
    color: #ffbd00;
  }

  .p-lab1{
    position: absolute;
    z-index: 105;
    top: 52%;
    left: 20%;
    color: #ffbd00;
  }

  .p-lab2{
    position: absolute;
    z-index: 105;
    top: 47%;
    left: 35%;
    color: #ffbd00;
  }

  .p-nantes{
    position: absolute;
    z-index: 105;
    top: 25%;
    left: 57%;
    color: #ffbd00;
  }

  .p-science{
    position: absolute;
    z-index: 105;
    top: 35%;
    left: 15%;
    color:#ffbd00;
  }

  .p-yumul {
    position: absolute;
    z-index: 105;
    top: 50%;
    right: 25%;
    color: #ffbd00;
  }

  .pin-admin{
    position: absolute;
    z-index: 105;
    top: 73%;
    left: 50%;
  }

  .text-admin p{
    color: white;
    font-size: 13px;
  }

  .pin-gate {
    position: absolute;
    z-index: 105;
    top: 75%;
    left: 35%;
    cursor: pointer;
  }

  .icon-text p{
    font-size: 13px;
  }

  .pin-lab1{
    position: absolute;
    z-index: 105;
    top: 55%;
    left: 20%;
  }
  .pin-lab2 {
    position: absolute;
    z-index: 105;
    top: 50%;
    left: 35%;
  }
  .pin-yumul{
    position: absolute;
    z-index: 105;
    top: 50%;
    right: 25%;
  }
  .pin-canteen{
    position: absolute;
    z-index: 105;
    top: 40%;
    right: 20%;
  }
  .pin-science{
    position: absolute;
    z-index: 105;
    top: 35%;
    left: 13%;
  }
  .pin-archi{
    position: absolute;
    z-index: 105;
    top: 25%;
    left: 23%;
  }
  .pin-educ{
    position: absolute;
    z-index: 105;
    top: 17%;
    left: 42%;
  }
  .pin-gym{
    position: absolute;
    z-index: 105;
    top: 23%;
    right: 12%;
  }
  .pin-hm{
    position: absolute;
    z-index: 105;
    top: 30%;
    right: 20%;
  }
  .pin-nantes{
    position: absolute;
    z-index: 105;
    top: 27%;
    left: 59%;
  }
  .pin-grandstand{
    position: absolute;
    z-index: 105;
    top: 30%;
    left: 47%;
  }
  .pin-eco{
    position: absolute;
    z-index: 105;
    top: 22%;
    left: 49%;

  }