.showImage{
    position: relative;
}

.pop-alumni{
  position:fixed;
  top: 10%;
  width: 100%;
  background-color: #0000006f;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index:999;
}

.alumni-popUp{
  padding: 10px;
  top: 30%;
  color: white;
  background-color:#9b000a;
  border: #ffbd00 2px solid;
  z-index: 105;
  position: fixed;
  width: 300px;
  text-align: center;
  align-items: center;
  display: block;
  height: 260px;
}

.alumni-popUp h2{
  padding: 10px;
}

.alumni-popUp button{
  background-color:#ffbd00;
}

.alumni-popUp img{
  width: 200px;
}

.pin-custom{
  position: absolute;
  top: 45%;
  left: 12%;


}

.image-container{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text-gif{
    position: relative;
    color: #ffffff;
    text-align: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    top: 5.4em;
}

.gif{
    position: relative;
    width: 100%;
    
}

.gif img{
    position: relative;
    width: 100vw;
    height: max-content;
    padding: 15px;
    top: 5em;
  }

.image-button-grid{
  position: relative;
  width: 100%;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .image-button-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .image-button-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


.back-button{
    display: flex;
    position: fixed;
    left: 0;
    top: 1.3em;
    padding: 10px;
    z-index: 100;
    color: white;
    overflow: hidden;
}


.areaImagecontainer{
display: inline-flexbox;
justify-content: space-around;
flex-direction: column;
position: relative;
height: 100%;
}

.buttons-container {
    top: 5em;
    position: relative;
    overflow: auto;
    display: flexbox;
    flex-direction:column;
    color: white;
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-bottom: 50px;
}

.image-text p {
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  position: relative;
  color: #ffffff;
  max-width: 150px;
  height: 40px;
  padding: 1px;

}

.title-area p{
  text-align:center;
  font-style: normal;
  letter-spacing: normal;
  height: 5em;

}


.buttons-container img{
    top: 0;
    width: 15em;
    position: sticky;
    border: #ffbd00 solid 5px;
    border-radius: 3%;
    height: fit-content;
}

.directions h4{
    font-size: 18px;
    position: fixed;
    top: 10em;
}

.suggest h1{
    position: fixed;
    bottom: 10vh;
    z-index: 9999;

}

.follow-directions{
    position: relative;
}

.modal-close{
    background-color:#ffbd00;
    border: none;
    :focus{
        outline: none;
        }
}

.direction-title{
  padding: 5px;
}

  .direction-container {
    justify-content: space-around;
    align-items:flex-start;
    width: 100%;
    height: 60em;
    text-align: center;
    position: relative;
    display: block;
    top: 5em;
    color: white;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
  }

  .showImage-button {
    display:inline-flex;
    padding: 15px;
    margin-bottom: 5px;
    background-color: #ffbd00;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 15em;
  }

  .pop-up{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100%;
  }

  .direction-modal {
    display: flex;
    background: #9b000a;
    width: 18.5em;
    align-items: center;
    justify-content: center;
    height: 40%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 30%;
    position: fixed;
    border:#ffbd00 solid 2px;
    overflow: hidden;
    overflow: hidden;
    
  }

  .direct-image{
    width: 100%;
    height: 100%;
    padding: 10px;

  }

  .direct-image img{
    max-width:250px;
  }


  .modal-content {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding: 5px;
  }

  .modal-close {
    margin: 30px;
    background-color: #ffbd00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .modal-close:hover {
    background-color:730000;
  }


  .map-img {
    padding: 5px;
    
  }

  .map-img img {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    border: none;
  }

  .note {
    position: fixed;
    color: #fff;
    top: 70%;
    width: 100%;
    text-align: center;
  }

  .admin{
    position: absolute;
    z-index: 99;
    top: 72%;
    left: 45%;
    color: #ffbd00;
  }

  .canteenn {
    position: absolute;
    z-index: 99;
    top: 35%;
    right: 20%;
    color:#ffbd00;
  }

  .eco{
    position: absolute;
    z-index: 99;
    top: 20%;
    left: 44%;
    color: #ffbd00;
  }

  .p-educ {
    position: absolute;
    z-index: 99;
    top: 15%;
    left: 30%;
    color: #ffbd00;
  }

  .p-archi{
    position: absolute;
    z-index: 99;
    top: 22%;
    left: 13%;
    color: #ffbd00;

  } 

  .p-grandstand{
    position: absolute;
    z-index: 99;
    top: 27%;
    left: 40%;
    color: #ffbd00;
  }

  .p-gym{
    position: absolute;
    z-index: 99;
    top: 19%;
    right: 10%;
    color: #ffbd00;

  }

  .p-hm {
    position: absolute;
    z-index: 99;
    top: 28%;
    right: 18%;
    color: #ffbd00;
  }

  .p-lab1{
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 16%;
    color: #ffbd00;
  }

  .p-lab2{
    position: absolute;
    z-index: 99;
    top: 47%;
    left: 30%;
    color: #ffbd00;
  }

  .p-nantes{
    position: absolute;
    z-index: 99;
    top: 20%;
    left: 44%;
    color: #ffbd00;
  }

  .p-science{
    position: absolute;
    z-index: 99;
    top: 35%;
    left: 0;
    color:#ffbd00;
  }

  .p-yumul {
    position: absolute;
    z-index: 99;
    top: 50%;
    right: 20%;
    color: #ffbd00;
  }

  .pin-admin{
    position: absolute;
    z-index: 99;
    top: 73%;
    left: 50%;
  }

  .text-pin p{
    color: white;
    font-size: 13px;
  }

  .pin-gate {
    position: absolute;
    z-index: 99;
    top: 75%;
    left: 35%;
    cursor: pointer;
  }

  .icon-text p{
    font-size: 13px;
  }

  .pin-lab1{
    position: absolute;
    z-index: 99;
    top: 55%;
    left: 20%;
  }
  .pin-lab2 {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 35%;
  }
  .pin-yumul{
    position: absolute;
    z-index: 99;
    top: 50%;
    right: 25%;
  }
  .pin-canteen{
    position: absolute;
    z-index: 99;
    top: 40%;
    right: 20%;
  }
  .pin-science{
    position: absolute;
    z-index: 99;
    top: 35%;
    left: 13%;
  }
  .pin-archi{
    position: absolute;
    z-index: 99;
    top: 25%;
    left: 23%;
  }
  .pin-educ{
    position: absolute;
    z-index: 99;
    top: 17%;
    left: 42%;
  }
  .pin-gym{
    position: absolute;
    z-index: 99;
    top: 23%;
    right: 12%;
  }
  .pin-hm{
    position: absolute;
    z-index: 99;
    top: 30%;
    right: 20%;
  }
  .pin-nantes{
    position: absolute;
    z-index: 99;
    top: 27%;
    left: 59%;
  }
  .pin-grandstand{
    position: absolute;
    z-index: 99;
    top: 30%;
    left: 47%;
  }
  .pin-eco{
    position: absolute;
    z-index: 99;
    top: 22%;
    left: 49%;

  }