
.choices-button{
    display: flexbox;
    justify-content: space-around;
    overflow: hidden;
    position: fixed;
    background-color: #7E0001;
    z-index: 500;
    top: 22vh;
    padding: 10px;

}
.choices-button button{
  display: inline-block;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border-radius: 10px;
    margin-right: 3px;
    background: linear-gradient(to bottom, #c40606, #f1c500); /* Gradient color */
    color: white; /* Text color */
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    z-index: 40;
    width: 150px;

}

.choices-button button:hover{
    background: linear-gradient(to bottom, #f1c500, #c40606); /* Gradient color */
}

.choices-button button.active-button {
    background: linear-gradient(to bottom, #ea9800, #ea9800); /* Active button gradient color */
    color: #ffffff;
  }

  
  
  
  
  
  
  