.choices-container{
  top: 7.5em;
  height: 100%;
  position: relative;
  color: white;
}

.choices-content p{
  position: fixed;
  color: white;
  top: 12%;
  z-index: 101;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.choices-button{
    top: 20%;
    display: flexbox;
    justify-content: space-around;
    overflow: hidden;
    position: fixed;
    background-color: #730000;
    z-index: 99;
    padding: 5px;
    width: 100%;
    height: 100%;
    color: white;
}

.show-event{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.show-content{
  position: static;
  overflow: auto;
  height: 100%;
  padding-bottom: 130px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content{
  position: relative;
  align-items: center;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.back-choices{
  position: absolute;
  overflow: hidden;
  left: 0;
  padding: 10px;
  top: -.5em;
  z-index: 101;
}

.choices-button p{
  position: relative;
  display: flex;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.choices-button button{
  display: inline-flexbox;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    background: linear-gradient(to bottom, #9b000a, #ffbd00); /* Gradient color */
    color: white; /* Text color */
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    z-index: 40;
    width: 14em;
    height: min-content;
    padding: 15px;


}

.choices-button button:hover{
    background: linear-gradient(to bottom, #ffbd00, #9b000a); /* Gradient color */
}

.choices-button button.active-button {
    background: linear-gradient(to bottom, #ffbd00, #ffbd00); /* Active button gradient color */
    color: #ffffff;
  }

  
  
  
  
  
  
  