.menu {
    cursor: pointer;
    height: 30px;
    margin-bottom: 15px;
}


.common-frame {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 500px;
    width: 350px;
    background-color: #7E0001;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
}

.title-menu {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
    color: #ffffff;
    font-size: 35px;
    font-family: Geneva, Tahoma, sans-serif;
    text-align: center;
    
}

.close {
    cursor: pointer;
    color: #c59595;
    position: absolute;
    top: 20px;
    right: -37px;
    z-index: 9999;
}

button {
    background: transparent;
    color: #ffffff;
    border: none;
    flex-direction: column;
    align-items: center;
    width: 120px;
    font-size: 13px;
    text-align: center;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button .icon {
    font-size: 70px;
    margin-bottom: 10px;
    transition: color 1s;
}

button:hover .icon {
    color: #ffc906;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
    margin: 20px;
    font-size: 35px;

}

.text {
    color:aliceblue;
    font-size: 10px;
    font-family: Geneva, Tahoma, sans-serif;
    bottom: 10px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}

.popup-modal {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 500px;
    max-width: 350px;
    margin: 0 auto;
    background-color: #7E0001;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.popup-title {
    margin-top: 10px;
    padding-top: 20px;
    color: #ffffff;
    font-size: 24px;
    font-family: Geneva, Tahoma, sans-serif;
    text-align: center;
}

.popup-content-container {
    max-height: calc(100% - 250px);
    overflow-y: auto;
    padding: 20px;
    height: 550px;
    width: 290px;
    justify-content: justify ;

    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}


.image-container {
    position: relative;
    height: 410px;
    width: 300px;
    overflow: scroll;
    cursor:grab;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    margin-left: auto;
    margin-right: auto;
    bottom: 5px;

    &::-webkit-scrollbar {
        width: 0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}

.map-popup-content {
    max-height: calc(100% - 250px);
    padding: 20px;
    height: 600px;
    width: 430px;
}

.map-image {
    width: 100%;
    height: auto;
    object-fit: scale-down; 
    transition: transform 0.3s;
} /*166*/


.menu-content{
    width: 300px;
    height: 300px;
    background-color: #7E0001;
    top: 50%;
    bottom: 50%;
    text-align: center;
  }
  /* Style the modal overlay */
  .ReactModal__Overlay {
    background: none; /* No background, fully transparent */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure the modal is above everything else */
  }
  
  /* Style the modal content */
  .ReactModal__Content {
    background-color: #7E0001;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* Ensure the modal content is above the overlay */
  }