
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.rate-popup {
    color: white;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 370px; 
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.rate-content {
    background-color: transparent;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    max-width: 400px;
    max-height: 300px;
    overflow-y: auto;
}

.gif-container {
    text-align: center;
}
  
.gif {
    max-width: 80%;
    height: auto;
}

.rate-container {
    position: fixed;
    left: 0;
    /*transform: translate(-50%, -50%);*/
    background-color: #730000;
    padding: 15px;
    border-radius: 10px;
    width: 370px;
    height: 520px;
    z-index: 1000;
    font-family: "Poppins", sans-serif;
}
  
.rate-title {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
}
  
.star-rating {
    text-align: center;
    margin: 25px 0;
}
  
.star {
    cursor: pointer;
    font-size: 38px;
    margin: 0 4px;
    color: #4d0c0c;
}
  
.star.selected {
    color: #ffc800;
    font-size: 42px;
}
  
.rate-message {
    color: #ffbd00;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.type-message {
    color: #ffbd00;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.name-message {
    color: #ffbd00;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.radio-btn {
    width: 100%;
    padding: 0 70px;
    font-size: 16px;
    font-weight: inherit;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
}

.radio-btn input{
    width: fit-content;
    transform: scale(1.4);
    
}

.name-input {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.name-input input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: inherit;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 7px;
}
  
.error-message {
    color: #ffbd00;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.comment-textarea {
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    outline: none;
    font-size: 16px;
    font-weight: inherit;
    font-family: "Poppins", sans-serif;
}
  
.buttonss {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
  
.buttonss button {
    padding: 10px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: inherit;
    font-family: "Poppins", sans-serif;
}
  
.submit-button {
    background-image: linear-gradient(-65deg, #ffbb00, #ffea00);
    color: #730000;
    font-size: 17px;
}

.submit-button:hover {
    color:#730000;
    font-weight: bold;
}
  
.maybe-later-button {
    color: #fff;
    width: 150px;
    font-size: 15px;
}

.maybe-later-button:hover {
    text-decoration: underline;
}

