.step{
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    padding: 5px;
    overflow: auto;
    color: white;
    text-align: center;
    width: 100%;
    max-height: fit-content;
}

.step h4{
    color: white;
    text-align: center;
    font-size: 18px;
}
.step p{
    color: white;
    text-align: left;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 100%;
}
a{
    color:rgb(141, 173, 255);
}

.step img{
    width: 300px;
    margin: 0 auto;
    padding: 5px;
}

.download-button{
    right: 38%;
    bottom: 7em;
    position: fixed;
}
.download-button button{
    color: white;   
    border: none;
    background-color: #ffbd00;
    padding: 10px 20px; 
    cursor: pointer; 
    position: fixed;
    

    background-color: rgb(2, 189, 64);
    transition: background-color 0.3s ease;
}
.download-button button:hover {
    background-color: #147932; /* Change the color to your desired hover color */

}

.moral {
    font-size: 20px;
    height: 100%;
    overflow: auto;
    background-color: #730000;
    padding: 15px;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
    text-align: left;
}

.grad-title{
    text-align: center;
}

.download-container {
    display: flex;
    width: 100%;
    justify-content: right;
    position: fixed;
    bottom: 15%;
}
.download-container button{
    background-color: #147932;
    margin-right: 10px;
    padding: 10px;
    color: white;

}
  
.title{
    justify-content: center;
    display: grid;
    align-items: center;
    color: white;
}
.step ul {
    align-items: center;
    display: grid;
    color: white;
    text-align: left;
    justify-content: center;
    padding: 15px;
    width: 100%;
    list-style:square;
    font-size: 17px;

}
.lyrics li{
    color: white;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.imno{
    position: relative;
    text-decoration: none ;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.video{
    position: relative;
    padding: 10px;
}

.transferee-bullet{
    align-items: center;
    justify-content: center;
    width: 100%;
    list-style-type:square;
    position: relative;
}
.transferee-bullet li{
    position: relative;
    left: 5%;
    font-size: 2vh;
}

.org-button{
    width: 100%;
    height: 100em;
    top: 8em;
    position: relative;
    align-items: center;
    justify-content: center;
}

.org-button h4{
    text-align: center;
}

.per-course{
    width: 100%;
    position: relative;
}

.button-org{
    display: inline-block;
    padding: 10px;
}
.button-org button{
    width:  15em;
    height: 5em;
    border: none;
    background: linear-gradient(to bottom, #9b000a, #ffbd00); /* Gradient color */
    color: white;
    padding: 1em;
    margin-left: 10px;
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;


}

.org-title{
    font-size: 25px;
    font-weight: bold;
}

.image-pic{
    display: flex;
    width: 100%;
    height: 100%;
}

.image-pic {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image-name {
    padding: 10px;
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.image-name img{
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    border:#ffbd00 solid 3px;
    background-image: url(../pictures/placePic/pup-logo.png);
    background-size: cover;
}

.image-name p{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    display: flex;
    font-size: 15px;
}

@media screen and (min-width: 768px) {
    .image-pic {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /* Mobile styles - 1 column */
  @media screen and (max-width: 767px) {
    .image-pic {
      grid-template-columns: repeat(2, 1fr);
    }
  }

.team-contents{
    display: grid;
    justify-content: center;
    gap: 1px 20px;
    padding: 15px;
    z-index: 99;
    position: relative;
}

.team-contents img{
    max-width: 150px;
    max-height: 150px;
    cursor: pointer;
    border: #ffbd00 solid 3px;
    border-radius: 50%;
    position: relative;
    
}

.team-contents p{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    position: relative;
    text-align: center;
    align-items: center;
    width: fit-content;
}

.team-logo{
    top: 0;
    position: relative;
}

.team-logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 2px white;
    position: relative;
    align-items: center;
    justify-content: center;
}

.team-desc p{
    top: -3.5em;
    padding: 10px;
    font-size: 11px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 150px;
    color: #ffffff;
    background-color:#ffbd00;
    border-radius: 10px;
  }
@media screen and (min-width: 768px) {
    .team-contents {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /* Mobile styles - 1 column */
  @media screen and (max-width: 767px) {
    .team-contents {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .button-feedback{
    width: 100%;
    text-align: center;
  }

  .modal-footer{
    bottom: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
  }

  .button-feedback button{
    width: fit-content;
    color:#ffbd00;
    text-decoration: underline;
    font-size: 20px;
  }

.pop-form{
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.feedback input {
    display: inline-flex;
    flex-direction: column;
    height: 50px;
    color: black;
    font-weight: bold;
}

.feedback-form{
    background-color: #9b000a;
    position: fixed;
    top: 20%;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: max-content;
    z-index: 105;
    padding: 10px;
}
.form-content{
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
}
form{
    position: relative;
    width: 100%;
    display: inline-block;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.form-content input{
    width: 230px;
}


.form-input textarea{
    width: 230px;
    height: 100px;
    border: #ffbd00 2px solid;
    border-radius: 10px;
}

.form-input label{
    display: block;
    width: 100%;
    text-align: left;
    color: white;
    left: 10px;
}

.submit-form input{
    background-color: #ffbd00;
    font-size: 15px;
    color: white;

}

.back-org{
    position: fixed;
    left: 0;
    padding: 10px;
    top: 1.5em;
    z-index: 101;
    color: #ffbd00;
    background-color: #730000;
}

.back-go{
    position: fixed;
    left: 0;
    padding: 10px;
    top: 4em;
    z-index: 101;
    color: #ffbd00;
    background-color: #730000;
}

.admin-head{
    padding: 20px;
    border-bottom: #ffffff 3px solid;
}

.director {
    width: 100%;
    border-bottom: #ffffff 2px solid;
}

.director img {
    max-width: 200px;
    max-height: 100%;
    border-radius: 50%;
    border:#ffbd00 solid 3px;
    background-image: url(../pictures/placePic/pup-logo.png);
    background-size: cover;
}

.director p {
    font-size: 15px;
}

.second-container{
    display: grid;
    gap: 10px;
    width: 100%;
    height: 100%;
    border-bottom: #ffffff 2px solid;
    padding: 5px;
}

.second-head img {
    max-width: 140px;
    max-height: 100%;
    border-radius: 50%;
    border:#ffbd00 solid 3px;
    background-image: url(../pictures/placePic/pup-logo.png);
    background-size: cover;
}

.second-head p{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    display: flex;
    font-size: 15px;
}

@media screen and (min-width: 768px) {
    .second-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /* Mobile styles - 1 column */
  @media screen and (max-width: 767px) {
    .second-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

.head-list {
    display: grid;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.head-list img {
    max-width: 140px;
    max-height: 150px;
    border-radius: 50%;
    border:#ffbd00 solid 3px;
    background-image: url(../pictures/placePic/pup-logo.png);
    background-size: cover;
}

.head-list p{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    display: flex;
    font-size: 15px;
}

@media screen and (min-width: 768px) {
    .head-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /* Mobile styles - 1 column */
  @media screen and (max-width: 767px) {
    .head-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

