.step{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    top: 7em;
    overflow: auto;
}

.step h4{
    color: white;
}
.step p{
    color: white;
    text-align: left;
    font-size: 20px;
    width: 100%;
}
a{
    color:rgb(141, 173, 255);
}

.step img{
    width: 300px;
    margin: 0 auto;
    padding: 5px;
}

.download-button{
    right: 5%;
    bottom: 7em;
    position: fixed;
}
.download-button button{
    color: white;   
    border: none;
    background-color: #ffbd00;
    padding: 10px 20px; 
    cursor: pointer; 
    

    background-color: rgb(2, 189, 64);
    transition: background-color 0.3s ease;
}
.download-button button:hover {
    background-color: #147932; /* Change the color to your desired hover color */

}
.title{
    justify-content: center;
    display: grid;
    align-items: center;
}
.step ul {
    justify-content: center;
    align-items: center;
    display: grid;
    color: white;
    text-align: left;
    padding: 15px;
    list-style:square;
    font-size: 17px;

}
.lyrics li{
    color: white;
    text-align: left;
}

.imno{
    position: relative;
    text-decoration: none ;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.video{
    display: inline-block;
    position: relative;
    padding: 10px;
}

.transferee-bullet{
    align-items: center;
    justify-content: center;
    width: 100%;
    list-style-type:square;
    position: relative;
}
.transferee-bullet li{
    position: relative;
    left: 5%;
    font-size: 2vh;
}

.org-button{
    z-index: 100;
    width: 100%;
    top: 10em;
    position: relative;
    align-items: center;
}
.button-org{
    position: relative;
    align-items: center;
    width: 100%;
    display: block;
    padding: 5px;
}
.button-org button{
    display: inline-block;
    position: relative;
    background: linear-gradient(to bottom, #9b000a, #ffbd00); /* Gradient color */
    height: 5em;
    text-align: center;
    align-items: center;
    margin: 5px;
    justify-content: center;
    padding: 10px;
}
.org{
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}


