.avatar-container  {
    position: fixed;
    width: 100%;
    top: 25%;
    overflow: hidden;
    z-index: 100;

}

.avatar {
    max-width: 100%;
    max-height: 40vh;
}

.hello{
    font-size: 15px;
    top: 18%;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    display: block;
    padding: 10px;
}

.iskaDo{
    position: fixed;
    width: 100%;
    top: 30%;
}
    






