* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  position: relative;
  display: block;
  justify-content: space-around;
  overflow: hidden;
  font-family:Arial, Helvetica, sans-serif;
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  body{
    justify-content: space-around;
  }
}

/* Media Query for screens with a maximum width of 576px (typical small screens) */
@media (max-width: 576px) {
  body {
    font-size: 14px; /* Adjust font size for small screens (e.g., iPhone SE) */
  }
}

/* Media Query for screens with a width between 577px and 768px (typical medium screens) */
@media (min-width: 577px) and (max-width: 768px) {
  body {
    font-size: 16px; /* Adjust font size for medium screens (e.g., iPhone 7/8/SE2) */
  }
}

/* Media Query for screens with a width between 769px and 991px (typical large screens) */
@media (min-width: 769px) and (max-width: 991px) {
  body {
    font-size: 18px; /* Adjust font size for large screens (e.g., iPhone X/XS/11 Pro) */
  }
}

/* Media Query for screens with a minimum width of 992px (typical extra-large screens) */
@media (min-width: 992px) {
  body {
    font-size: 20px; /* Adjust font size for extra-large screens (e.g., iPhone 12 Pro Max) */
  }
}

/* Media Query for screens with a width between 320px and 480px (typical Android small screens) */
@media (min-width: 320px) and (max-width: 480px) {
  body {
    font-size: 14px; /* Adjust font size for small Android screens */
  }
}

/* Media Query for screens with a width between 481px and 768px (typical Android medium screens) */
@media (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 16px; /* Adjust font size for medium Android screens */
  }
}

/* Media Query for screens with a minimum width of 769px (typical Android large screens) */
@media (min-width: 769px) {
  body {
    font-size: 18px; /* Adjust font size for large Android screens */
  }
}


body{
  position: relative;
  background-color: #730000;
  justify-content: center;
  align-items: center;
  display: block;
  text-align: center;
  align-items: center;
  background-size: cover;
  scrollbar-width:none;
  scrollbar-color: transparent transparent;
  overflow:auto;

  &::-webkit-scrollbar {
      width: 6px;
  }

  &::-webkit-scrollbar-thumb {
      background-color: transparent;
  }
}

header{
  background-color: #730000;
  justify-content: space-around;
  display: flex;
  top: 0;
  position: fixed;
  width: 100%;
  height: 7.3em;
  z-index: 100;
  padding: 4px;
  overflow: -moz-hidden-unscrollable;
}

.logo-name {
  background-color: #730000;
  display: flexbox;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  color: white;
  font-family: 'Krona One';
}

.logo-name p{
  bottom: 1.5em;
  position: relative;
  display: block;
  margin: 0;
  line-height: normal;
  font-size: 20px;
}

.logo-name img{
  width: 6em;
  position: relative;
  align-items: center;
  justify-content: center;
}

.question-list {
  border: 5px solid #ffbd00;
  background-color: white;
  color: #730000;
  position: absolute;
  width: 190px;
  height: max-content;
  right: 5%;
  margin-top: 10px;
  top: 60px;
  font-size: 15px;
  z-index: 105;
}

.logo-name span{
  color: #ffbd00;
  font-family: 'Krona One';
}

.desc{
  position: relative;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 15px;
color: white;

}

.close-vt{
  position: relative;
  width: 100%;
  display: flex;
  padding: 10px;
  color: #ffffff;
  top: -2em;
  left: -0.5em;
  font-size: 20px;
}

.reset-button{
  position: fixed;
  display: flex;
  left: 0;
  top: 2.1em;
  padding: 7px;
}

.right-icon{
  padding: 3px;
}

.desc-hidden {
  display: none;
}

.virtual{
  display: block;
  padding: 5px;
  z-index: 98;
}

.vr-box{
  position: fixed;
  top: 13%;
  width: 100%;
  z-index: 99;
  padding: 2vh;
  padding: 10px;
}

.container{
  white-space: pre-line;
  color: rgb(255, 255, 255);
  overflow:auto;
  padding: 5px;
  height: 100%;
  line-height: 1.5; /* Adjust this value to control the line spacing */
  z-index: 98;
  text-align: center;
  position: static;
}

.container-content{
  position: relative;
  height: 100%;
}

.displayResponse{
  display: flex;
  text-align: left;
  padding: 10px;
  height: max-content;
}

.display-text {
  padding: 20px;
  border-radius: 5px;
  position:relative;
}

.buttons{
  position: relative;
  height: 100%;
}


.bottom{
  background-color: #730000;
  padding: 5px;
  bottom: 0;
  position: fixed;
  overflow: hidden;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5.8em;
}

.text-input{
  background-color: #730000;
}

.mic{
  position: relative;
  width: 100%;
}

.microphone{
  position: fixed;
  bottom: 0; /* Stick it to the bottom of the viewport */
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 10px;
  width: max-content;
  background-color: #730000;

}

.center-input{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: static;
  text-align: center;
  width: 100%;
  overflow: hidden;
  padding: 5px;
}
input {
  padding: 10px;
  width: 20em; /* Use the full width of the parent container */
  margin: 10px; /* You can use shorthand property for margin */
  border-radius: 10px;
  border-color: #ffbd00;
}

/* Media Query for screens with a maximum width of 768px (typical mobile screens) */
@media (max-width: 926px) {
  input{
    width: 19em;
  }
  body{
    font-size: 1em; /* Make the text slightly smaller on small screens */
  }
}

.hide-this{
  visibility: hidden;
}

.keyBoard{
  margin-right: 10px;
}

.closed-back{
  margin-left: 2em;
}

.error {
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 40%;
  width: 100%;
  position: fixed;
  z-index: 101;
  display: flex;
  overflow: hidden;                                               
  color: white;
}

.error button{
  background-color: #ffbd00;
}

.error-content{
  border-color:#ffbd00 solid 10px;
  color: #730000;
  background-color: #f3efd0;
  width: 15em;
  align-items: center;
  position: relative;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border-radius: 5px ;
  overflow: hidden;
}

.start{
  color: white;
  bottom: 0;
  width: 30px;
  height: 30px;
  align-items: center;
  background: linear-gradient(to bottom, #9b000a, #ffbd00); /* Gradient color */
  padding: 20px ;
  border-radius: 100px;
}

.stop{
  color: white;
  bottom: 0;
  width: 30px;
  height: 30px;
  align-items: center;
  background: linear-gradient(to bottom, #9b000a, #ffbd00); /* Gradient color */
  padding: 20px 20px;
  border-radius: 100px;
}

.transcript{
  color: white;
  position:fixed;
  top: 87%;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 1500;
  
}

.suggestions{
  justify-content: flex-start;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: fixed;
    display: flex;
    top: 74%;
    width: 100%;
    padding: 10px;
    overflow-x: auto;
    overflow-y: hidden;
}

.suggestions button{
  background: linear-gradient(to bottom, #9b000a, #ffbd00); /* Gradient color */
  border: none;
  padding: 5px;
  border-radius: 15px;
  width: 8em;
  height: 3em;
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}


.list-result {
  position: fixed;
  color:#730000;
  bottom: 4.5em;
  width: 17.5em;
  text-align: left;
  overflow: auto;
  height: 4.5em;
  display: flex;
  border-radius: 10px;
}

.list-result::-webkit-scrollbar {
  width: 50%;
  height: 15em;
  border-radius: 10px;
}

.list-result::-webkit-scrollbar-thumb {
  background-color:#ffbd00;
  border-radius: 10px;
}

.list-result::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.list-result li{
  padding: 7px;
  border: 1px solid #730000;
  background-color: white;
  font-size: 12px;
}

.list-result :hover{
  cursor: pointer;
  background-color:#ffbd00;
}
