.common-frame {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 720px;
    width: 470px;
    background-color: #7E0001;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
}

.close {
    cursor: pointer;
    color: #c59595;
    position: absolute;
    top: 20px;
    right: -37px;
    z-index: 9999;
}

.map-container {
    height:fit-content;
    width: 350px;
    overflow: scroll;
    cursor:grabbing;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
        width: 0;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
}

.map-popup-content {
    max-height: calc(100% - 250px);
    padding: 20px;
}

.map-image {
    width: 100%;
    height: auto;
    object-fit: scale-down; 
    transition: transform 0.3s;
}

.text {
    color:aliceblue;
    font-size: 10px;
    font-family: Geneva, Tahoma, sans-serif;
    bottom: 10px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
} /*62*/